@import '../../index';

.round-summary {
   overflow: auto;

   table {
      table-layout: fixed;
      text-align: center;

      th:first-child, td:first-child {
         text-align: right;
         width: 35%;
      }

      th:last-child, td:last-child {
         text-align: left;
         width: 35%;
      }

      .winner {
         font-size: 0.7rem;
         color: $palette-color-blueish-dark;
      }
   }
}