@import '../../../index';

.footer {
   display: flex;
   justify-content: space-evenly;
   padding: 0.4rem;
   background-color: $palette-color-blueish-dark;

   a {
      color: #ffffff;
      font-size: 2rem;
   }
}

@media (min-width: $medium-device-size) {
   .footer {
      justify-content: center;

      > div {
         padding: 0 3rem;
      }
   }
}