@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$palette-color-blackish: #001433;
$palette-color-greyish: #a5acaf;
$palette-color-blueish-dark: #245998;
$palette-color-blueish-regular: #87bbf9;
$palette-color-blueish-light: #edf5ff;
$palette-color-reddish: #cd5c5c;
$palette-color-greenish: #3fb93f;
$palette-color-white: #ffffff;

body {
   margin: 0;
   font-family: Roboto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
}

table {
   width: 100%;
   border-collapse: collapse;
   font-size: 0.9rem;

   thead {
      background-color: $palette-color-blueish-regular
   }

   tr:nth-child(even) {
      background-color: $palette-color-blueish-light;
   }

   th, td {
      padding: 0.8rem 0.4rem;
      white-space: nowrap;
   }
}
